body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    max-width: min(90%, 500px);
    margin: 0 auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', serif;
}

p, a, li {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}