body {
    display: flex;
    flex-direction: column;
    max-width: min(90%, 500px);
    margin: 0 auto;
    padding-top: 1rem;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, table {
    margin: 0 0 1rem 0;
}

ul ul, ol ol, ul ol, ol ul {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', serif;
}

p, a, li, th, td {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

table {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 0 4px;
}